body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.pinimg.com/originals/e4/7f/c0/e47fc0c1c1d7706e302f8544958fa2ba.jpg') no-repeat center center fixed;
  background-size: cover;
}

.stopwatch {
  background-color: rgba(173, 216, 230, 0.8); /* Light blue background color */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
  font-size: 2em;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.control {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.start {
  background-color: #4CAF50;
  color: white;
}

.pause {
  background-color: #f0ad4e;
  color: white;
}

.reset {
  background-color: #d9534f;
  color: white;
}

.lap {
  background-color: #5bc0de;
  color: white;
}

.control:hover {
  opacity: 0.8;
}

.laps {
  margin-top: 20px;
}

.lap-times {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.lap-times li {
  background-color: #ffffe0;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: left;
}
